body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.classification-selectors-div {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.selectors {
  padding: 12px 30px;
  text-decoration: none;
  color: rgb(85, 89, 93);
}

.selectors.active {
  border-bottom: solid rgb(117, 115, 255) 2px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1rem;
  margin-top: 1rem;
}

.orderBy {
  border: none;
  font-size: 14px;
  margin-right: 0.4rem;
}

.desk-tab-total-cars-no {
  display: none;
}

.vehicle-container {
  margin: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 2rem;
}

.classification-container {
  display: flex;
  align-items: center;
}

.classification-box-mobile {
  margin-right: 1rem;
  font-size: 11px;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  background-color: rgb(63, 58, 80);
  color: white;
  text-align: center;
}

.vehicle-classification-mobile {
  margin: 0;
}

.star {
  padding-right: 0.5rem;
  color: white;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  font-size: 20px;
}

.star.active {
  color: rgb(117, 115, 255);
  text-shadow: none;
}

.vehicle-derivative {
  margin-top: -0.75rem;
  color: rgb(85, 89, 93);
}

.vehicle-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.mapped-feature-elements-mobile {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  color: rgb(85, 89, 93);
}

.divider {
  color: rgb(209, 214, 224);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.vehicle-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: left;
  text-align: left;
  padding-left: 1.5rem;
  margin-right: 2rem;
}

.price-monthly {
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.price-total {
  margin: 0;
  padding-top: 0.3rem;
  text-align: left;
}

.finance-desk {
  display: none;
}

.img-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
}

.desk-tab-img-container {
  display: none;
}
.car-img {
  width: 35%;
  border-radius: 20px;
  flex-shrink: 0;
  height: auto;
  scroll-snap-align: center;
}

.car-main-info {
  display: flex;
  justify-content: space-between;
}
.pagination-div {
  padding: 3rem 0 2rem 0;
  text-align: center;
}

.pagination-div button {
  padding: 0.25rem 1.25rem;
  margin-right: 0.25rem;
  border-radius: 8px;
  border: solid #d1d6e0 1px;
  color: #55595d;
  background-color: white;
}

.pagination-div button.active {
  background-color: rgb(117, 115, 255);
  color: #fff;
}

.footer {
  color: #55595d;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
}

.mobile-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  background-color: #f5f7fa;
  border-radius: 12px;
  border: 1px solid #e0e4ea;
  margin-top: 1rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-header {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0;
}

.form-subheading {
  font-size: 11px;
  margin-top: 4px;
}

.valuation-btn {
  white-space: nowrap;
  padding: 1rem 1.3rem;
  background-color: rgb(117, 115, 255);
  color: white;
  border-radius: 12px;
  border: none;
}

.order-footer-container {
  display: none;
}

/* Desktop */
@media (min-width: 1024px) {
  .desk-vehicle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin: 2rem 0;
  }

  .wrapper {
    margin: 0 10rem;
  }

  .nav-container {
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    z-index: 1;
    padding-top: 0.5rem;
  }
  .mob-displayed-no-of-results {
    display: none;
  }

  .desk-tab-total-cars-no {
    display: block;
    font-size: 16px;
    text-align: left;
    flex: 1;
    margin-left: 1rem;
    font-weight: 500;
  }

  .orderBy {
    text-align: right;
    flex: 1;
    border: none;
    font-size: 14px;
    margin-right: 0.4rem;
  }

  .selectors {
    padding: 0.2rem 1rem;
    margin: 0.1rem;
    border: solid rgb(209, 214, 224) 1px;
    border-radius: 12px;
  }
  .selectors.active {
    border: solid rgb(117, 115, 255) 2px;
    background-color: rgb(117, 115, 255);
    color: white;
  }

  .navbar {
    display: inline-block;
  }

  .orderBy {
    flex: 0;
    padding: 0.5rem 0.4rem;
    background-color: rgb(246, 247, 251);
    border-radius: 12px;
    color: rgb(85, 89, 93);
  }

  .order-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
  }

  .orderBy-desktop-duplicate {
    flex: 0;
    padding: 0.5rem 0.4rem;
    background-color: rgb(246, 247, 251);
    border-radius: 12px;
    color: rgb(85, 89, 93);
  }

  .mob-vehicle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin: 2rem 0;
  }

  .vehicle-container {
    box-shadow: 12px 7px 14px 7px rgba(0, 0, 0, 0.1);
    padding-top: 0;

    border-radius: 12px;
  }
  .img-container {
    display: none;
  }
  .desk-tab-img-container {
    display: block;
    position: relative;
  }
  .desk-tab-img-container img {
    width: 100%;
    margin-top: 0;
    border-radius: 12px 12px 0 0;
    height: auto;
    display: block;
  }

  .classification-box-mobile {
    display: none;
  }

  .classification-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  .vehicle-classification {
    background-color: #3f3a50;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-size: 12px;
    border: solid #8b897d 1px;
  }

  .vehicle-classification-mobile {
    display: none;
  }
  .mapped-feature-elements-mobile {
    display: none;
  }

  .mapped-feature-elements {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    font-size: 12px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .mapped-feature-elements li {
    background-color: #3f3a50;
    color: white;
    padding: 4px 6px;
    border-radius: 8px;
    border: solid #8b897d 1px;
    font-size: 10px;
  }
  .divider {
    display: none;
  }

  .star {
    cursor: pointer;
  }

  .car-main-info,
  .vehicle-derivative,
  .vehicle-details {
    padding-left: 1rem;
  }

  .vehicle-details {
    padding-bottom: 1rem;
  }

  .vehicle-derivative {
    font-size: 10px;
  }
  .vehicle-pricing {
    padding-left: 0;
  }

  .price-monthly-bold {
    font-weight: bold;
    font-size: 14px;
  }

  .price-monthly {
    font-size: 12px;
  }

  .finance-desk {
    display: inline;
    font-size: 10px;
    color: rgb(117, 115, 255);
    padding-left: 0.2rem;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: -1rem;
    margin-top: 1rem;
  }

  .desk-form-text {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
  }

  .desk-form-title {
    font-weight: 500;
    font-size: 20px;
  }
  .mob-vehicle-container {
    display: none;
  }

  input {
    width: 75%;
    text-align: center;
  }
  .pagination-div {
    padding-bottom: 0;
  }
  .footer {
    padding-top: 1rem;
  }
  .form-container {
    background-color: rgb(246, 247, 251);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: none;
    border: solid rgb(229, 229, 229) 1px;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .desk-form-label {
    display: block;
    font-size: 10px;
    font-weight: 300;
  }

  .asterisk {
    color: red;
  }

  .form-group input {
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    background-color: #fff;
    color: #888;
    text-align: left;
  }

  .form-group input::placeholder {
    color: #ccc;
  }

  .desk-form-btn {
    width: 80%;
    padding: 1rem;
    background-color: rgb(117, 115, 255);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
  .wrapper {
    margin: 0 2rem;
  }

  .mob-displayed-no-of-results {
    display: none;
  }

  .desk-tab-total-cars-no {
    display: block;
    font-size: 16px;
    text-align: left;
    flex: 1;
    margin-left: 1rem;
    font-weight: 500;
  }

  .orderBy {
    text-align: right;
    flex: 1;
    border: none;
    font-size: 14px;
    margin-right: 0.4rem;
  }

  .nav-container {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    z-index: 1;
    padding-top: 0.5rem;
  }

  .selectors {
    padding: 0.2rem 1rem;
    margin: 0.1rem;
    border: solid rgb(209, 214, 224) 1px;
    border-radius: 12px;
  }
  .selectors.active {
    border: solid rgb(117, 115, 255) 2px;
    background-color: rgb(117, 115, 255);
    color: white;
  }

  .navbar {
    display: inline-block;
  }

  .orderBy {
    flex: 0;
    padding: 0.5rem 0.4rem;
    background-color: rgb(246, 247, 251);
    border-radius: 12px;
    color: rgb(85, 89, 93);
  }

  .order-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
  }

  .orderBy-desktop-duplicate {
    flex: 0;
    padding: 0.5rem 0.4rem;
    background-color: rgb(246, 247, 251);
    border-radius: 12px;
    color: rgb(85, 89, 93);
  }

  .mob-vehicle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: 2rem 0;
  }

  .desk-vehicle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: 2rem 0;
  }

  .vehicle-container {
    box-shadow: 12px 7px 14px 7px rgba(0, 0, 0, 0.1);
    padding-top: 0;

    border-radius: 12px;
  }
  .img-container {
    display: none;
  }
  .desk-tab-img-container {
    display: block;
    position: relative;
  }
  .desk-tab-img-container img {
    width: 100%;
    margin-top: 0;
    border-radius: 12px 12px 0 0;
    height: auto;
    display: block;
  }

  .classification-box-mobile {
    display: none;
  }

  .classification-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  .vehicle-classification {
    background-color: #3f3a50;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-size: 12px;
    border: solid #8b897d 1px;
  }

  .vehicle-classification-mobile {
    display: none;
  }
  .mapped-feature-elements-mobile {
    display: none;
  }

  .mapped-feature-elements {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    font-size: 12px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .mapped-feature-elements li {
    background-color: #3f3a50;
    color: white;
    padding: 4px 6px;
    border-radius: 8px;
    border: solid #8b897d 1px;
    font-size: 10px;
  }
  .divider {
    display: none;
  }

  .star {
    cursor: pointer;
  }

  .car-main-info,
  .vehicle-derivative,
  .vehicle-details {
    padding-left: 1rem;
  }

  .vehicle-details {
    padding-bottom: 1rem;
  }

  .vehicle-derivative {
    font-size: 10px;
  }
  .vehicle-pricing {
    padding-left: 0;
  }

  .price-monthly-bold {
    font-weight: bold;
    font-size: 14px;
  }

  .price-monthly {
    font-size: 12px;
  }

  .finance-desk {
    display: inline;
    font-size: 10px;
    color: rgb(117, 115, 255);
    padding-left: 0.2rem;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: -1rem;
    margin-top: 1rem;
  }

  .desk-form-text {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
  }

  .desk-form-title {
    font-weight: 500;
    font-size: 20px;
  }
  .mob-vehicle-container {
    display: none;
  }

  input {
    width: 75%;
    text-align: center;
  }
  .pagination-div {
    padding-bottom: 0;
  }
  .footer {
    padding-top: 1rem;
  }
  .form-container {
    background-color: rgb(246, 247, 251);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: none;
    border: solid rgb(229, 229, 229) 1px;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .desk-form-label {
    display: block;
    font-size: 10px;
    font-weight: 300;
  }

  .asterisk {
    color: red;
  }

  .form-group input {
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    background-color: #fff;
    color: #888;
    text-align: left;
  }

  .form-group input::placeholder {
    color: #ccc;
  }

  .desk-form-btn {
    width: 80%;
    padding: 1rem;
    background-color: rgb(117, 115, 255);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
  }
}
